POSTGRES_DB=sysacaddb
POSTGRES_USER=franco
POSTGRES_PASSWORD=CHANGE_ME

FLASK_CONTEXT=production
SECRET_KEY=CHANGE_ME

SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://franco:CHANGE_ME@postgres-sysacad:5432/sysacaddb
REDIS_URL=redis://redis-sysacad:6379/0
